# Setting up Scopus API Query to be easily updated

In [8]:
import requests
import pandas as pd
import config
import ScopusFunctions

Took a list of names and added columns with authorID and TotalPapers in Scopus

In [11]:
for index, person in FacultyList.iterrows():
    authID, docCount = ScopusFunctions.getAuthIDFromName(person['FirstName'], person['LastName'])
    FacultyList.loc[index,'authID'] = authID
    FacultyList.loc[index,'TotalPapers']=docCount

Perfect Match Not Found Lotus Goldberg
Perfect Match Not Found Hongfu Liu
Perfect Match Not Found Sophia Malamund
Perfect Match Not Found Marie Meteer
Perfect Match Not Found Olga Papaemmanouil
Perfect Match Not Found Jordan Pollack
Perfect Match Not Found Jim Storer
Perfect Match Not Found Nianwen Bert Xue
Perfect Match Not Found Niels  Bradsahw
Perfect Match Not Found Julia  Kardon
Perfect Match Not Found Maria0Eirini Pandelia
Perfect Match Not Found Colleen Hitchcock
Perfect Match Not Found Amy Lee
Perfect Match Not Found Maria de Boef Miara
Perfect Match Not Found James Morris
Perfect Match Not Found Sacha Nelson
Perfect Match Not Found Michael Rosbash
Perfect Match Not Found Rachel Woodruff
Perfect Match Not Found Rebecca Gieseking
Perfect Match Not Found Bing Xu
Perfect Match Not Found Charlie Cosnier-Horeau
Perfect Match Not Found Thomas Fai
Perfect Match Not Found Jonathan Jaquette
Perfect Match Not Found Denis Patterson
Perfect Match Not Found Gail Peretti
Perfect Match Not Found John Wilmes

I saved that dataframe to a csv. Then went and manually checked and input authIDs for anyone who did not get a match in previous step.

In [55]:
FacultyList_withIDs=pd.read_csv('ListOfFaculty.csv')
FacultyList_withIDs.head()

   FirstName   LastName              Dept       authID  TotalPapers
0    Richard   Alterman  Computer Science   7004102295           45
1      Mitch  Cherniack  Computer Science   7004608592           25
2  Antonella    DiLillo  Computer Science  57192541823            5
3  Antonella    DiLillo  Computer Science  18233595000            0
4        Tim     Hickey  Computer Science   7005100186           47

Now I'm going to get totalDocs for anyone who didn't have author ID's before, these people would have a 0 value for doc count.

In [56]:
for index, person in FacultyList_withIDs.iterrows():
    if person['TotalPapers'] == 0:
        print(person['authID'])
        query ='AU-ID('+str(person['authID'])+')'
        query_params = {'query':query}
        baseurl = 'http://api.elsevier.com/content/search/author'
        response = requests.get(baseurl, headers=config.apiKey, params = query_params)
        data = response.json()
        resultCount = data['search-results']['entry'][0]['document-count']
        FacultyList_withIDs.loc[index, 'TotalPapers'] = resultCount

18233595000
54389423300
55145545400
6602952941
10739068200
7101673933
57000678400
36777746400
16743471000
6602435858
27867996100
55584653100
37119862700
55730089300
7403081233
7102160821
23483168100
36186770100
57203463554
56549014000
55543194600
57193737577
56346981900
8561575200

In [57]:
FacultyList_withIDs

       FirstName        LastName              Dept       authID TotalPapers
0        Richard        Alterman  Computer Science   7004102295          45
1          Mitch       Cherniack  Computer Science   7004608592          25
2      Antonella         DiLillo  Computer Science  57192541823           5
3      Antonella         DiLillo  Computer Science  18233595000          10
4            Tim          Hickey  Computer Science   7005100186          47
5         Pengyu            Hong  Computer Science  14630423200          34
6         Hongfu             Liu  Computer Science  54389423300          43
7          Harry         Mairson  Computer Science   6701368216          46
8         Sophia        Malamund  Computer Science  55145545400           5
9          Marie          Meteer  Computer Science   6602952941          12
10          Olga   Papaemmanouil  Computer Science  10739068200          29
11        Jordan         Pollack  Computer Science   7101673933          92
12         James     Pustejovsky  Computer Science   6602448845         107
13       R. Pito           Salas  Computer Science  57201573164           2
14         Liuba          Shrira  Computer Science   6603527962          49
15           Jim          Storer  Computer Science  57000678400          89
16  Nianwen Bert             Xue  Computer Science  36777746400          54
17        Niels         Bradsahw      Biochemistry  16743471000          11
18          Jeff          Gelles      Biochemistry   7003919851          72
19        Tijana        Ivanovic      Biochemistry  15057884100          13
20        Julia           Kardon      Biochemistry   6602435858           8
21      Dorothee            Kern      Biochemistry   7202524433          57
22         Chris          Miller      Biochemistry  57203627594         187
23        Daniel          Oprian      Biochemistry   7003418485          72
24  Maria-Eirini        Pandelia      Biochemistry  27867996100          43
25        Thomas       Pochapsky      Biochemistry   7005475011         105
26        Dagmar           Ringe      Biochemistry   7005585050         246
27       Timothy          Street      Biochemistry   8725110300          22
28       Douglas        Theobald      Biochemistry   7003695166          34
29         Susan          Birren           Biology   6701764644          35
..           ...             ...               ...          ...         ...
62         Grace             Han         Chemistry  57193644421           9
63       Lizbeth        Hedstrom         Chemistry   7005260425         141
64        Judith        Herzfeld         Chemistry   7005436497         179
65         isaac          Krauss         Chemistry   6701668438          28
66        Thomas       Pochapsky         Chemistry   7005475011         105
67        Dagmar           Ringe         Chemistry   7005585050         246
68         Klaus    Schmidt-Rohr         Chemistry   7005226250         236
69         Barry          Snider         Chemistry   7101719649         283
70          Bing              Xu         Chemistry  57203463554         304
71          Mark           Adler              Math  57203872422          66
72         Corey         Bregman              Math  57195476259           2
73          Joel       Bellaiche              Math  12647162300          28
74       Olivier        Bernardi              Math  24375984000          34
75          Ruth         Charney              Math   7003953107          36
76       Charlie  Cosnier-Horeau              Math  56549014000           2
77        Thomas             Fai              Math  55543194600          12
78            An           Huang              Math  56267676800           6
79       Kiyoshi           Igusa              Math   6602289678          36
80      Jonathan        Jaquette              Math  57193737577           4
81        Dmitry       Kleinbock              Math   6603420927          39
82          Bong            Lian              Math   7005535163          35
83    Konstantin         Matveev              Math  57203257494          13
84          Alan           Mayer              Math  16656679800           4
85         Keith         Merrill              Math  26432163700           7
86          Omer           Offen              Math  56539877700          26
87         Denis       Patterson              Math  56346981900           8
88        Daniel        Ruberman              Math   6602190024          51
89       Rebecca          Torrey              Math  54880105200           5
90      Jonathan         Touboul              Math  23029252800          55
91          John          Wilmes              Math   8561575200           7

[92 rows x 5 columns]